@using Infrastructuur.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    double totalSum = 0;
    <link rel="stylesheet" href="~/css/shoppinCart.css" asp-append-version="true" />
     var weesFromUser = ViewData["WeedsFromUser"] as List<WeedEntity>;
}
@model UserEntity
@functions {
    string PricePerAmount(int count, double price) => (count * price).ToString("F2");
}
<style>

</style>
<div class="shop">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"><strong>PRODUCT</strong></th>
                    <th scope="col"><strong>PRICE</strong></th>
                    <th scope="col"><strong>AMOUNT</strong></th>
                    <th scope="col"><strong>SUBTOTAL</strong></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @weesFromUser.GroupBy(x => x.Name))
                {
                    <tr>
                        <td><img class="w-25" src="~/@item.FirstOrDefault().ImageFileLocation" /></td>
                        <td>@item.FirstOrDefault().Name</td>
                        <td>€ @item.FirstOrDefault().Price.ToString("F2")</td>
                        <td>@item.Count()</td>
                        <td>€ @PricePerAmount(item.Count(), @item.FirstOrDefault().Price)</td>
                        <td><a asp-action="RemoveWeed" asp-route-id="@item.FirstOrDefault().Id"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    totalSum += item.Count() * @item.FirstOrDefault().Price;
                }
            </tbody>
        </table>
    </div>
    @*card totals*@
    <div class="card-total">
        <h4>CART TOTALS</h4>
        <hr />
        <div>
            <div class="dispatch">
                <p><strong>Dispatch</strong></p>
@*                <p>@Model.Addresses[0].Country</p>
                <p>@Model.Addresses[0].City @Model.Addresses[0].PostalCode</p>
                <p>@Model.Addresses[0].Address @Model.Addresses[0].AddressNumber</p>*@
            </div>
            <hr />
            <p><strong>Total: @totalSum.ToString("F2")</strong></p>
            @if ( @weesFromUser.Count > 0)
            {
                <a class="weedGreen btn btn-lg  w-100" asp-action="Order" asp-controller="Home" asp-route-id="@Model.Id">CONTINUE TO CHECKOUT</a>
            }
            else
            {
                <a class="weedGreen btn btn-lg  w-100">CONTINUE TO CHECKOUT</a>
                <div class="alert alert-danger">
                    <strong>Empty Cart!</strong> Shopping cart is empty!
                </div>
            }
        </div>
    </div>
</div>