@using Infrastructuur.Models
@model Infrastructuur.Models.WeedEntity

@{
    ViewData["Title"] = "Details";
    <link rel="stylesheet" href="~/css/WeedDetail.css" asp-append-version="true" />
    var weedReviews = ViewData["Reviews"] as List<ReviewEntity>;
}

<h1>Details</h1>

<div>
    <h4>WeedEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.THC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.THC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFileLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageFileLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
    </dl>
</div>
<div>
     @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    @Html.ActionLink("Add Comment", "Review", new { id = Model.Id })
  @*  <a asp-action="Review" class="btn weedColor text-white btn-lg">Add comment</a>*@
</div>

        @foreach(var weedReview in weedReviews.Where(x => x.WeedId == @Model.Id)) {
            <p><strong>@weedReview.UserName</strong></p>
            <p>@weedReview.ReviewText</p>
        }