@using Infrastructuur.Models
@model IEnumerable<Infrastructuur.Models.WeedEntity>

@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="~/css/latestNewsStyle.css" asp-append-version="true" />
    var weeds = ViewData["Weeds"] as List<WeedEntity>;
    int i = 0;
}


@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-success" asp-action="Create">Create New</a>
    </p>
}
<div>
    <h4>Categories</h4>
    <form asp-controller="Weed" asp-action="PostIndex">
       
           @* <input type="text" value="weed" name="categories">*@
        @* <select name="categories">
        <option>@nameof(TypeProduct.WEED)</option>
        <option>@nameof(TypeProduct.HASH)</option>
        <option>@nameof(TypeProduct.WEEDOIL)</option>
    </select>*@
      <div class="form-group">
    <label> @nameof(TypeProduct.WEED)</label>
    <input class="form-check-input" type="checkbox" name="categories" value="@nameof(TypeProduct.WEED)"/>
    <label>
        @weeds.Count(x => x.TypeProduct == TypeProduct.WEED)
    </label>
    </div>
     <div class="form-group">
       <label> @nameof(TypeProduct.HASH)</label>
       <input class="form-check-input" type="checkbox" name="categories" value="@nameof(TypeProduct.HASH)"/>
           <label>
        @weeds.Count(x => x.TypeProduct == TypeProduct.HASH)
    </label>
    </div>
     <div class="form-group">
             <label> @nameof(TypeProduct.WEEDOIL)</label>
    <input class="form-check-input" type="checkbox" name="categories" value="@nameof(TypeProduct.WEEDOIL)"/>
        <label>
        @weeds.Count(x => x.TypeProduct == TypeProduct.WEEDOIL)
    </label>
    </div>
    <button type="submit">filter</button>

      
    </form>
</div>

<div class="card-weed-list">


    @foreach (var item in Model)
    {

        <div class="card" style="width:35%">
            <img src="@Html.DisplayFor(modelItem => item.ImageFileLocation)" />
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <hr>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Info)</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">THC: @Html.DisplayFor(modelItem => item.THC)</li>
                <li class="list-group-item">Price/gram: @Html.DisplayFor(modelItem => item.Price) €</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>

            @if (User.IsInRole("Admin"))
            {
                <div class="card-body">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new {  id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new {  id = item.Id })
                </div>
            }
            else
            {
                <div class="card-body">
                    @Html.ActionLink("Details", "Details", new {  id = item.Id })
                </div>
            }
            <form asp-controller="Weed" asp-action="Index">
                <div class="card-footer d-flex justify-content-center">
                    <span id="min" class="btn weedGreen btn-lg" onclick="decreaseValue(@i)">-</span>
                    <input type="number" hidden name="WeedId" value="@item.Id">
                    <input type="number" class="w-25" id="theAmount" value="0" name="AmountItemToAdd">

                    <span id="plus" class="btn weedGreen btn-lg" onclick="increaseValue(@i)">+</span>
                </div>
                <button type="submit" class="btn btn-lg weedGreen w-100">Add to chart</button>
            </form>
        </div>
        i++;
    }
</div>
<script>
    var minus = document.querySelectorAll("#min");
    var amount = document.querySelectorAll("#theAmount");
    var plus = document.querySelectorAll("#plus");


    function decreaseValue(index) {
        if (amount[index].value > 0) {
            amount[index].value--;
        }
    }
    function increaseValue(index) {
        amount[index].value++;
        console.log("test");
    }
</script>